<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stl.module_test1">

    <application>
        <activity android:name=".t.KotlinActivity1"/>
        <activity android:name="com.takiku.module_test1.TestActivity1" />
    </application>

</manifest>