<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stl.module_test2">

    <application>
        <activity android:name=".KotlinActivity2"></activity>
        <activity android:name=".TestActivity2" />
    </application>

</manifest>